<nav>
  <div class="vertical-menu"></div>
    <div class="wrapper">
        <div class="sidebar">
            <h3>{{title}}</h3>
            <ul>
                <li *ngIf="!isUserLoggedIn()"><a routerLink="/login">Login</a></li>
                <li *ngIf="isUserLoggedIn()"><a routerLink="/root" >Dashboard</a></li>
                <li *ngIf="isUserLoggedIn()"><a routerLink="/novozarazeni-upis">Upis novozaraženih</a></li>
                <li *ngIf="isUserLoggedIn()"><a routerLink="/novozarazeni-pregled">Pregled novozaraženih</a></li>
                <li *ngIf="isUserLoggedIn()"><a href="#">Upis cijepljenih</a></li>
                <li *ngIf="isUserLoggedIn()"><a href="#">Pregled cijepljenih</a></li>
                <li *ngIf="isUserLoggedIn()"><a href="#">Dodavanje korisnika</a></li>
                <li id="logout" (click)="logout()" *ngIf="isUserLoggedIn()"><a href="">logout</a></li>
            </ul> 
        </div>
    </div>
    <!--<div id="bar">
      <span id="menu-button" onclick="sidebar()">&#9776;</span>
    </div> -->
</nav>
<router-outlet></router-outlet>
